<!-- <p>subscribed-book works! </p> -->

<div class="container mb-6">
    <div class="row">
      <div class="col-md-8 mx-auto mt-3 pt-5" *ngIf="!isOpenBook && parameter!='subscription'">
        <div class="card shadow-lg rounded border-danger">
          <div class="card-header text-center text-center bg-info text-white">
            <h1>Subscribed Books</h1>
          </div>
          <div class="card-body">
           
             <table>
                <tbody *ngFor="let subscribeBook of subscribeBookList; let i= index" style="background-color: white; ">
                    <tr >
                        <p style="word-wrap: break-word;"> <img id="myimage" [src]='thumbnail[i]' style="height: 100px; width: 100px;" /></p> 
                        <p style="word-wrap: break-word; font-weight: bold;" (click)="openBook(subdIdList[i].id)">Book: {{subscribeBook.books.title}}</p>
                        <span style="word-wrap: break-word;">Category : {{subscribeBook.books.category}}</span> &nbsp;
                        <span style="word-wrap: break-word;">Author : {{subscribeBook.userName}}</span>

                        <br/>
                        <span style="word-wrap: break-word;"><button (click)="unsubscribe(subdIdList[i].id)"  class="btn btn-primary">Unsubscribe</button>
                        </span>
                        <hr/>
                </tbody>

             </table>
              <div>
                <p *ngIf="unsubscribeMessage!=null">{{unsubscribeMessage.message}}</p>
                <p *ngIf="unsubscribeErrorMessage!=null">{{unsubscribeErrorMessage.message}}</p>
              </div>
         
          </div>
        </div>
      </div>
     
      <div *ngIf="isOpenBook && parameter!='subscription'">
    <div class="card shadow-lg rounded border-danger">
        <div class="card-header text-center text-center bg-info text-white">
          <h1>Start Reading</h1>
        </div>
        <div class="card-body">   
           <table>
              <tbody style="background-color: white; ">
                  <tr *ngIf="contentError===undefined">
                      <p style="word-wrap: break-word; font-weight: bold; font-size: 30px;" >{{content.title}}</p>
                      <hr/>
                      <p style="word-wrap: break-word; font-size: 20px;">{{content.content}}</p>
                    </tr>
                    <tr *ngIf="content===undefined">
                        <td style="word-wrap: break-word; font-weight: bold;" >{{contentError}}</td>
                       
                      </tr>

              </tbody>
           </table>
        </div>
      </div>
      </div>
      <!--Search with subscription id-->
      <div *ngIf="parameter=='subscription'">
        <div class="col-md-6 mx-auto mt-3 pt-5" >
          <div class="card shadow-lg rounded border-danger">
            <div class="card-header text-center text-center bg-info text-white">
              <h1>Subscribed Book</h1>
            </div>
            <div class="card-body">
  
              <form [formGroup]="searchSubscriptionForm" (submit)="onSubmitToSearchForSubscription()">
              <div class="form-group">
                <div>
                    <input type='text' formControlName="subscriptionId" class='form-control' [ngClass]="{ 'is-invalid': submitted && f['subscriptionId'].errors }" required placeholder="Unique subscription id"/>
                    <div *ngIf="submitted && f['subscriptionId'].errors" class="invalid-feedback">
                      <div *ngIf="f['subscriptionId'].errors['required']">Subscription id is required</div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="col-sm-5 mx-auto">
                        <input type="submit"  class='btn btn-outline-primary btn-block btn-lg' value='Search' id='search' />
                    </div>
                  </div>
                  <!-- <p *ngIf="subscribedbook!=null">{{subscribedbook}}</p> -->
                  <p *ngIf="subscribedbookError!=null">{{subscribedbookError}}</p>
                </div>
              </div>
            </form>
<!-- show-->

<div class="card shadow-lg rounded border-danger" *ngIf="subscribedbook!=null ">
  <div class="card-header text-center text-center bg-info text-white">
    <h1>Start Reading</h1>
  </div>
  <div class="card-body">   
     <table>
        <tbody style="background-color: white; ">
            <tr *ngIf="subscribedbook!=null">
                <p style="word-wrap: break-word; font-weight: bold; font-size: 30px;" >{{subscribedbook.books.title}}</p>
                <hr/>
                <p style="word-wrap: break-word;  font-size: 20px; ">{{subscribedbook.books.content}}</p>
              </tr>

        </tbody>
     </table>
  </div>
</div>



















            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
